
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  background: white;
  margin-right: auto;
  font-family: Helvetica;
  font-weight: 300;
  border-bottom: 5px solid orange;
}

.navbar_title {
  margin: auto;
  width: 60%;
  padding: 12px
}

.navbar_item {
  padding: 14px ;
  cursor: pointer;
  vertical-align: middle;
  color: orange;
  font-weight: 900;
  font-size: 18px;
}

#headerLogo {
  display: block;
  width: 50%;
  margin-right: auto;
}


/* EVENT SHOW CARD CSS HERE */


.card-container {
	width: 400px;
	height: 445px;
  
	border-radius: 15px;
  
  cursor: pointer;
  perspective: 600;
  position: relative;
  margin:15px
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  background-color: rgb(206, 233, 242);
  border: 2px solid #ffa500;
}
.flipped {
  transform: rotateY(180deg);
}
.card .pic {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

/* INDIVIDUAL CARD STYLE */

#cardName { 
  text-align: center;
  color: #c48208; 
  font-family: 'Trocchi', serif; 
  font-size: 45px; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 0; 
  padding-bottom: 5px;
}

#cardType {
  padding-left: 3px;
  text-transform: capitalize;
}

#cardDate {
  padding-left: 3px;
}

#clickHere {
  position: absolute;
  font-weight: 900;
  bottom: 0;
  right: 0;
  padding-right: 3px;
}

#locationCard {
  position: absolute;
  left: 0;
  padding-top: 5px;
  padding-left: 3px;
}

#cardDelete {
  
  position:absolute;
  bottom:0;
  left: 0;
  margin-left: 25%;
  margin-bottom: 10px;
  line-height: 15px;
  background: #0069eb;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  font-weight: 900;
  text-decoration: none;
}

#cardImage {
  max-height: 90%;
  max-width: 90%;
  object-fit: contain;
  margin: auto;
  display: block;
  padding-top: 25px;
}

/* Add New Event Button */ 

#addEventButton {
  background: #ffa500;
  color: black;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  font-weight: 900;
  text-decoration: none;
  border-style: solid; 
  border-color: #c48208;
}

/* Link stuff */

#noLink {
  color: inherit;
  text-decoration: none;
}